

.tittle-about h2 {
    background: linear-gradient(43deg, #870afc 0%, #bb83ff 46%, #6151f4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-about h2 span {
    background: linear-gradient(43deg, #870afc 0%, #bb83ff 46%, #6151f4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img-profile a:hover img {
    transform: scale(1.05);
}

.img-profile a::before {
    content: '';
    position: absolute;
    top: -200%;
    left: -200%;
    width: 150%;
    height: 150%;
    background: #ffffff19;
    box-shadow: 0px 0px 100px 100px #870afc19;
    transform: rotate(45deg);
    transition: all 0.5s ease;
    pointer-events: none;
    z-index: 2;
    border-radius: 50%;
}

.img-profile a:hover::before {
    top: 100%;
    left: 100%;
}

