.contact-main{
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1000;
    padding: 0 300px;
    margin: 20px 0;
}

.contact-header{
    margin-bottom: 50px;
    h2 {
        font-size: 3rem;
        background: linear-gradient(43deg, #870afc 0%, #bb83ff 46%, #6151f4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p{
        font-size: 1.3rem;
    }
}

.contact-email-redes{
    display: flex;
    justify-content: center;
    padding: 0 300px;
    gap: 20px;
    background-color: #7873bb41;
    border-radius: 15px;
    padding: 20px;
}

.contact-email, .contact-redes{
    width: 100%;
    background-color: #c7c7c70f;
    border-radius: 10px;
    padding: 10px;
    h3{
        font-size: 2rem;
    }

    p{
        font-size: 1.3rem;
    }
}

.contact-email form{
    margin-top: 20px;
    padding: 10px 20px;

    input, textarea{
        width: 90%;
        height: 40px;
        margin-bottom: 20px;
        padding: 10px 10px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.33);
        font-size: 1rem;
        background-color: #ffffff08;
        color: white;
        font-size: 1.2rem;
    }

    textarea{
        height: 120px;
        resize: none;
    }

    button{
        width: 95%;
        padding: 20px 15px;
        border-radius: 10px;
        background: linear-gradient(43deg, #870afc 20%, #bb83ff 100%);
        border: none;
        color: white;
        font-size: 1.3rem;
        transition: 0.5s;
    }

    button:hover{
        box-shadow: 0px 9px 12px -5px #870afc;
    }
}

.contact-redes-display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 20px;
    gap: 20px;
}


.social{
    background-color: #ffffff08;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.221);
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: start;
    text-decoration: none;
    color: white;
    transition: 1s;
    img{
        width: 30px;
        height: 30px;
        padding: 7px;
        border-radius: 10px;
    }

    h4{
        font-size: 1.3rem;
    }

    p{
        font-size: 0.8rem;
    }
}

.social:nth-child(1) img { background: #0a66c22a; }
.social:nth-child(2) img { background: #25d3663b; }
.social:nth-child(3) img { background: linear-gradient(45deg, #f585293b 20%, #feda773b 30%, #dd2a7b3b 60%, #8134af3b 80%, #515bd43b 100%); }
.social:nth-child(4) img { background: #0000003b; }
.social:nth-child(5) img { background: #0000003b; }
.social:nth-child(6) img { background: #ff00002a; }

.social:nth-child(1):hover { background: #0a66c22a; }
.social:nth-child(2):hover { background: #25d3663b; }
.social:nth-child(3):hover { background: linear-gradient(45deg, #f585293b 20%, #feda773b 30%, #dd2a7b3b 60%, #8134af3b 80%, #515bd43b 100%); }
.social:nth-child(4):hover { background: #0000003b; }
.social:nth-child(5):hover { background: #0000003b; }
.social:nth-child(6):hover { background: #ff00002a; }