
/*
header{
    width: 100%;
}


.main-Header{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;;
    position: relative;
    z-index: 1000;
} 

.main-Header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.main-Header ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    transition: 1s;
}


.main-Header ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #870afc;
    transition: width 0.3s ease-in-out;
    }

.main-Header ul li a:hover::after {
        width: 100%;
}
        */